.about-page {
    #banner {
        background: url(/images/aboutBanner.png) no-repeat;
        height: 500px;
      }
  
      #agency_div {
        background: url(/images/about_agency.png);
        border-radius: 15px;
        margin: 8vw;
        min-width: 350px;
        background-color: #F9F9F9;
      }
  
      #inner_banner_div {
        top: 270px;
      }
  
      #our_story_text_div {
        position: absolute;
      }
  
      #planning_div {

      }
  
      @media only screen and (max-width: 576px) {
        #banner {
          background: url(/images/aboutBanner_mobile.png) no-repeat;
          height: 300px;
        }
  
        #agency_div {
          background: url(/images/about_agency_mobile.png);
          border-radius: 15px;
          margin: 8vw;
          min-width: 350px;
          background-color: #F9F9F9;
        }
  
        #inner_banner_div {
          top: 165px;
        }
      }

      @media only screen and (min-width: 576px) {

        #agency_div {
          padding:6rem;
        }
        #planning_div {
          padding:6rem;
        }

      }
  
      @media only screen and (max-width: 1200px) {
        #our_story_text_div {
          position: relative;
        }
  
        #planning_div {
          background: none;
        }
      }
}