.articles-page {
    #banner {
        background: url(/images/newsAndArticlesBanner.png) no-repeat;
        height: 640px;
    }

    .text_content_div{
        padding: 0px 120px;
    }

    #inner_banner_div {
        top: 280px;
    }

    .inner_text_content_div{
        padding: 60px 78px;
        margin-top: -180px;
        z-index: 100px;
    } 

    .icon-1 img{
        width: 30px;
    }

    @media only screen and (max-width: 576px) {
        #banner {
            background: url(/images/newsAndArticlesBanner_mobile.png) no-repeat;
            height: 390px;
        }

        #inner_banner_div {
            top: 153px;
        }

        .icon-1 img{
            width: 20px;
        }

        .inner_text_content_div{
            padding: 60px 78px;
            margin-top: -120px;
            z-index: 100px;
        } 
    }

    @media only screen and (max-width: 1200px) {
        #message_desc_div {
            border-radius: 0px 0px 15px 15px;
        }

        .inner_text_content_div{
            padding: 22px 22px; 
        }

        .text_content_div{
            padding: 0px 20px;
        }
    }
}