.refund-page {
    #banner {
        height: 500px;
      }
  
      #inner_banner_div {
        top: 270px;
      }
  
      @media only screen and (max-width: 576px) {
        #banner {
          height: 300px;
        }
  
        #inner_banner_div {
          top: 165px;
        }
      }

}